<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ fragments :: page_head('','none')}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="text-center">
    <div><h1>Giỏ hàng của bạn</h1></div>
</div>
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <h5 class="mb-3"><a th:href="@{/}" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Quay về trang chủ</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Giỏ Hàng</p>
                                        <p class="mb-0">Bạn đang có [[${quantity}]] sản phẩm trong giỏ hàng</p>
                                    </div>

                                </div>
                                <th:block th:each="item : ${cartItems}" th:with="product = ${item.product}">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img th:src="@{${item.product.mainImagePath}}"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <a th:href="@{'/p/' + ${product.alias}}">
                                                            <h5>[[${product.name}]]</h5>
                                                        </a>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <div th:replace="~{cart/quantity_control :: quantity_control(${item.quantity},${product.id})}"></div>
                                                    </div>
                                                    <div style="width: 80px;" class="fa-2x">
                                                        <a class="link-Remove-Product float-end " th:href="@{'/cart/remove/' + ${product.id}}" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                                <span class="subtotal" th:id="'subtotal' + ${product.id}">[[${#numbers.formatDecimal(item.subTotal,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>


                            <div class="col-lg-4">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Card details</h5>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                 class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>

                                        <p class="small mb-2">Card type</p>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-visa fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-amex fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                       placeholder="Cardholder's Name" />
                                                <label class="form-label" for="typeName">Cardholder's Name</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="text" class="form-control form-control-lg" siez="17"
                                                       placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                <label class="form-label" for="typeText">Card Number</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="password" id="typeText" class="form-control form-control-lg"
                                                               placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                        <label class="form-label" for="typeText">Cvv</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Tiền sản phẩm</p>
                                            <p class="mb-2">
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                                <span id="subtotals">[[${#numbers.formatDecimal(sum,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Phí vận chuyển</p>
                                            <p class="mb-2">
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                                <span>[[${#numbers.formatDecimal(shippingCost,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Tổng tiền</p>
                                            <span>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                                <span id="total">[[${#numbers.formatDecimal(sum + shippingCost,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span>
                                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                            </span>

                                        </div>

                                        <button type="button" class="btn btn-info btn-block btn-lg">
                                            <div th:if="${shippingRateSupported}">

                                                <div th:if="${quantity > 0}" class="d-flex justify-content-between">
                                                    <a class="text-decoration-none text-light" th:href="@{/checkout}">Thanh Toán<i class="fas fa-long-arrow-alt-right ms-2"></i></a>
                                                </div>
                                                <div th:unless="${quantity > 0}" class="d-flex justify-content-between">
                                                    <span class="h5">Bạn chưa thêm sản phẩm nào vào giỏ hàng!</span>
                                                </div>
                                            </div>
                                            <div th:unless="${shippingRateSupported}">
                                                <div>
                                                    <span class="h5 ">Không hỗ trợ địa chỉ bạn muốn giao!</span>
                                                </div>
                                                <div th:if="${usePrimaryAddressAsDefault}">
                                                    <a th:href="@{/account_detail(redirect=cart)}">Cập nhật lại địa chỉ của bạn.</a>
                                                </div>
                                                <div th:unless="${usePrimaryAddressAsDefault}">
                                                    <a th:href="@{/address(redirect=cart)}">Dùng một địa chỉ khác.</a>
                                                </div>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments :: footer}"></div>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
    thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";
    decimalDigits = [[${DECIMAL_DIGITS}]];


    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    contextPath = "[[@{/}]]";
</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/shopping_cart.js}"></script>
</body>
</html>
