<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ fragments :: page_head('','none')}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container-fluid">

    <div class="text-center">
        <h2>Đăng ký</h2>
        <h4>Tài Khoản của bạn đã được xác thực hoặc mã xác thực không còn tồn tại</h4>

    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
</script>
</body>
</html>
