<!DOCTYPE html>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="mb-3 mt-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name" required>
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Alias:</label>
        <input type="text" class="form-control" th:field="*{alias}" placeholder="Enter first alias" required>
    </div>
    <div class="mb-3 mt-3 row">
        <label class="col-sm-4 col-form-label">Brand:</label>
        <div class="col-sm-8">
            <select class="form-control" th:field="*{brand}" required>
                <option value="0">[No parent]</option>
                <th:block th:each="brand : ${listBrands}">
                    <option th:value="${brand.id}">[[${brand.name}]]</option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label class="col-sm-4 col-form-label">Category:</label>
        <div class="col-sm-8">
            <th:block th:if="${product.category != null}">
                <select class="form-control" th:field="*{category}" required>
                    <option value="0">[No parent]</option>
                    <th:block th:each="cat : ${product.brand.categories}">
                        <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
                </select>
            </th:block>
            <th:block th:if="${product.category == null}">
                <select th:field="*{category}" class="form-control" required ></select>
            </th:block>
        </div>
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Price:</label>
        <input type="text" class="form-control" th:field="*{price}" placeholder="Enter first alias" required>
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Sale:</label>
        <input type="text" class="form-control" th:field="*{sale}" placeholder="Enter first alias" required>
    </div>
</div>
</body>
</html>






