<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body th:fragment="content" id="page-top">
    <div class="mb-5">
        <h5 class="mb-0">Site Settings</h5>
    </div>

    <div>
        <input type="button" value="Load Country List" id="buttonLoadForStates" class="btn btn-primary"/>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Selected Country:</label>
        <div class="col-sm-8" >
            <select class="form-select" id="dropDownCountryForStates">

            </select>
        </div >

    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">All States/Provinces:</label>
        <div class="col-sm-8" >
            <select class="form-control" id="dropDownStates" style="height: 300px;" size="3">

            </select>
        </div >

    </div>

    <div class="form-group row ml-2">
        <label class="col-form-label mt-2" id="labelStateName">State/Province Name:</label>
        <div class="col-md">
            <input type="text" class="form-control mt-2" id="fieldStateName" />
        </div>

        <div class="col-lg-4 mt-2">
            <input sec:authorize="hasAuthority('Admin')" type="button" id="buttonAddState" value="Add" class="btn btn-secondary mr-2" />
            <input sec:authorize="hasAuthority('Admin')" type="button" id="buttonUpdateState" value="Update" class="btn btn-secondary mr-2" disabled="disabled" />
            <input sec:authorize="hasAuthority('Admin')" type="button" id="buttonDeleteState" value="Delete" class="btn btn-secondary" disabled="disabled" />
        </div>
    </div>
</body>
</html>