<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ fragments :: page_head('','none')}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container-fluid">
    <div class="text-center">
        <h1>Thanh Toán</h1>
    </div>

    <div class="row m-1">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header"><h5>Thông tin vận chuyển</h5></div>
                <div class="card-body">
                    <p>
                        <b>Vận chuyển đến:</b>&nbsp; [[${shippingAddress}]]
                        <a th:href="@{/address_book}">[sử dụng một địa chỉ khác]</a>
                    </p>
                    <p>
                        <b>Ngày giao hàng: </b>[[${checkoutInfo.deliverDays}]] day(s)
                    </p>
                    <p>
                        <b>Dự kiến ngày giao: </b>[[${#dates.format(checkoutInfo.deliverDate,'E, dd MM yyyy')}]]
                    </p>
                </div>
            </div>
            <div class="card mt-3 mb-3">
                <div class="card-header"><h5>Phương thức thanh toán</h5></div>
                <div class="card-body">
                    <div th:if="${checkoutInfo.codSupported}">
                        <form th:action="@{/place_order}" method="post">

                            <p>
                                <input type="radio" name="paymentMethod" id="radioCOD" value="COD"/> thanh toán sau khi nhận hàng (COD)
                                &nbsp;
                                <button class="btn btn-primary d-none" type="submit" id="buttonSubmit">Hoàn Thành đặt hàng với phương thức (COD)</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>Thông tin sản phẩm</h5></div>
                <div class="card-body">
                    <div>
                        <table>
                            <th:block th:each="item : ${listCartItems}">
                                <tr th:with="product = ${item.product}">
                                    <td>[[${item.quantity}]]</td>
                                    <td width="70%">
                                        <a th:href="@{'/p/' + ${product.alias}}" target="_blank ">
                                            [[${product.name}]]
                                        </a>
                                    </td>
                                    <td>
                                        <div th:replace="~{fragments :: format_currency(${item.subTotal})}"></div>
                                    </td>
                                </tr>
                            </th:block>

                        </table>
                        <tr><hr colspan="3"></hr></tr>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Tiền sản phẩm:</div>
                        <div class="col"><div th:replace="~{fragments :: format_currency(${checkoutInfo.productTotal})}"></div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Phí vận chuyển:</div>
                        <div class="col"><div th:replace="~{fragments :: format_currency(${checkoutInfo.shippingCostTotal})}"></div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Tổng tiền thanh toán:</div>
                        <div class="col"><b><div th:replace="~{fragments :: format_currency(${checkoutInfo.paymentTotal})}"></div></b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#radioCOD").on("click",function () {
            $("#buttonSubmit").removeClass("d-none");
        })
    })
</script>
</body>
</html>
