*.bg-gray-secondary {background-color: rgba(0, 0, 0, 0.03) !important;}

*.icon-gray {color: #808080;}

*.icon-info {color: rgb(0, 153, 255)}

*.icon-white {color: white;}

*.fa-1-5x {font-size: 1.5em;}

*.icon-focus-blue:hover {color: rgb(0, 153, 255)!important;}

*.text-small {
    font-size: 12.8px;
    font-weight: 700;
}

.btn-hover-blue:hover {
    color: #0dcaf0!important;
    border-color: #0dcaf0!important;
}

*.mr-2 {margin-right: 0.5em;}

*.vr-orange {
    width: 50px; /* Đặt chiều rộng theo nhu cầu của bạn */
    height: 2px; /* Đặt chiều cao theo nhu cầu của bạn */
    background-color: red;
}

.nav-item.dropdown:hover .hover-dropdown{
    display: block;
}

#brand_select{
    height: 44px;
    border: none;
    overflow: hidden;
}
#brand_select::-moz-focus-inner {
    border: 0;
}
#brand_select:focus {
    outline: none;
}
#brand_select option{
    width: 60px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:rgb(204, 204, 0) solid 1px;
    border-radius: 5px;
    color: rgb(204, 204, 0);
}