<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{ fragments :: page_head('Shopme Admin','none')}" />
<body id="page-top">


    <div id="wrapper">
     <ul th:replace="~{fragments :: navbar}" ></ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="~{fragments :: header}"></nav>

                <div class="container-fluid">
                    <div class="text-center text-primary">
                        <h1 class="fw-bold">CHÀO MỪNG ĐẾN VỚI TRANG WEB SHOPME</h1>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-8 text-left ">
                            Welcome :<a class="link-Account"  th:href="@{/account}" sec:authentication="principal.fullName"></a>&nbsp; <span sec:authentication="principal.authorities"></span>
                            <p>This is the first e-commerce website that I wrote with my own hands using the Java language. This website is built following the MVC (Model-View-Controller) architecture</p>
                        </div>
                        <div class="col-sm-4">
                            <img class="rounded-circle img-fluid" th:src="@{/images/spring-boot.png}" style="max-width: 80%" />
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/settings}">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <footer th:replace="~{fragments :: footer}"></footer>
<script th:src="@{/js/common_form.js}" ></script>
<script th:src="@{/js/common.js}" ></script>
</body>
</html>