<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ fragments :: page_head('Product','none')}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container-fluid">
    <form class="form-control border border-0" id="searchForm" method="get" th:action="@{'/c/' + ${category.alias} + '/page/1'}">
    <div class="card mx-4">

        <div class="row m-2 align-items-center">
            <div class="col-1">
                <span>Top Thương Hiệu:</span>
            </div>

            <div class="col-11">
                <th:block th:each="brand : ${#lists.sort(category.getBrands())}">
                    <input type="submit" name="brandName" th:value="${brandName == brand.name ? brandName : brand.name  }" class="btn border btn-hover-blue p-2"
                        style="margin-right: 10px">
                </th:block>


            </div>

        </div>
        <hr class="hr mx-2">

        </hr>
        <div class="m-2">

                <div class="input-group">
                    <div class="form-outline w-25">
                        <input type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="tìm thông tin sản phẩm..." />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

        </div>

    </div>

    <div class="row m-2 align-items-center">
        <div th:replace="~{breadcumb :: content}"></div>
        <div class="col-6">
            <h2>Sản Phẩm</h2>
        </div>
        <div class="col-6 text-end  focus-ring-secondary">
            <button type="button" id="clearFilter" class="btn btn-outline-info">Làm mới</button>
            <select class="w-50 d-inline-block form-select" name="sortField" id="dropdownCategory">
                <option class="text-start" value="">Mac Dinh</option>
                <option class="text-start" th:selected="${sortField == 'highPrice'}" value="highPrice">Gia Cao Nhat</option>
                <option class="text-start" th:selected="${sortField == 'lowPrice'}" value="lowPrice">Gia Thap Nhat</option>
                <option class="text-start" th:selected="${sortField == 'createdTime'}" value="createdTime">Mới Đây</option>
            </select>

        </div>
    </div>
    </form>

    <div class="row m-3">
        <th:block th:each="product : ${listProducts}">
            <div class="col-3 p-2">
                <div class="card bg-light w-75 " style="min-height: 100%">
                    <a th:href="@{'/p/' + ${product.alias}}" class="text-decoration-none">
                        <img class="img-fluid"
                             th:src="@{${product.mainImagePath}}" />
                        <div class="card-body">
                            <h5 class="card-title text-uppercase icon-gray">[[${product.brand.name}]]</h5>
                            <p class="text-dark">[[${product.name}]]</p>
                            <p class="text-info h5">
                                <div th:replace="~{products/product_fragments :: price_fragment(${product.price},'tag')}"></div>
                            </p>
                        </div>

                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div class="row">
    <div th:replace="~{fragments :: pagination('/c/' + ${category.alias})}"></div>
</div>
<div th:replace="~{fragments :: footer}"></div>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    $("#dropdownCategory").on("change",function() {
        $("#searchForm").submit();
    });
    $("#clearFilter").on("click",function (e) {
        window.location = window.location.origin + window.location.pathname
    })
</script>
</body>
</html>
